@section scripts
{
    @Scripts.Render("~/Scripts/Angular-Controllers/HomeCtrl.js")
}

<div class="container" ng-controller="HomeCtrl" ng-init="GetUser()">
    <div ng-show="showCompanySection">
        
    </div>
    <div ng-show="showEmployeeSection">
        
    </div>
</div>
