<div ng-controller="EmployeeSchedulesCtrl">
    <div ng-show="employeeSchedules.length <= 0">There is currently no schedule assigned to you</div>
    <div ng-show="employeeSchedules.length > 0">
        
    </div>
</div>
