<div ng-controller="ReportsCtrl" ng-init="initiate()">
    <div ng-show="companyReports.length == 0">There is currently no reports</div>
    <div ng-show="companyReports.length > 0">schedule</div>
</div>
