<div ng-controller="SchedulesCtrl">
    <div ng-click="CreateSchedule()" style="text-align: center; background-color: #a36064; border: 1px solid #841d23; height: 30px; padding: 5px; width: 130px; color: white; font-weight: bold; cursor: pointer">Create Schedule</div>
    <br/>
    <div ng-show="companySchedules.length == 0">There is currently no schedules</div>
    <div ng-show="companySchedules.length > 0">schedule</div>
</div>