<div ng-controller="SchedulesCtrl">
    <div ng-click="showCreateModal()" style="text-align: center; background-color: #a36064; border: 1px solid #841d23; height: 30px; padding: 5px; width: 130px; color: white; font-weight: bold; cursor: pointer">Create Schedule</div>
    <br />
    <div ng-show="companySchedules.length == 0">There is currently no schedules</div>
    <div ng-show="companySchedules.length > 0">
        <div ng-repeat="schedule in companySchedules">
            <div ng-style="$index > 0 && {'margin-left':employeesPositions[$index]}"  style="margin-top: 20px; background-color: #f3eeee; padding: 10px; border: 1px solid #841d23; box-shadow: 1px 1px 1px; width: 440px; height: 382px; float: left;">
                <div>
                    <div style="float: left">
                        <img src="../../Images/info.png" alt="info.png" />
                    </div>
                    <div style="color: #841d23; font-weight: bold; width: 170px; float: left; margin-top: 3px; margin-left: 3px;">Schedule info</div>
                    <div style="height: 40px"></div>
                    <div><span style="font-weight: bold;">Customer:</span> {{schedule.customerName}}</div>
                    <div><span style="font-weight: bold;">Object:</span> {{schedule.customerObjectName}}</div>
                    <div><span style="font-weight: bold;">Start Date:</span> {{moments(schedule.startDate, 'date')}}</div>
                    <div><span style="font-weight: bold;">Start Time</span> {{moments(schedule.startDate, 'time')}}</div>
                    <div><span style="font-weight: bold;">End Date</span> {{moments(schedule.endDate, 'date')}}</div>
                    <div><span style="font-weight: bold;">End Time</span> {{moments(schedule.endDate, 'time')}}</div>
                    <div style="height: 15px;"></div>
                    <div>
                        <div style="color: #841d23; font-weight: bold;">Employees assigned to the schedule</div>
                        <div style="height: 5px;"></div>
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Surname</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="scheduleShift in schedule.schedules ">
                                        <td>{{scheduleShift.employeeFirstname}}</td>
                                        <td>{{scheduleShift.employeeLastname}}</td>
                                        <td>{{scheduleShift.employeeEmailAddress}}</td>
                                        <td>{{scheduleShift.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                    <div ng-click="showEditScheduleModal(schedule)" style="cursor: pointer; font-size: 12px; float: right; color: #841d23; font-weight: bold;">
                        <img src="../../Images/edit.png" alt="edit" />
                        <span style="margin-right: 5px;">Edit</span>
                    </div>
                    <div ng-click="deleteSchedule(schedule)" style="cursor: pointer; font-size: 12px; float: right; color: #841d23; font-weight: bold; margin-right: 10px;">
                        <img src="../../Images/delete.png" alt="edit" />
                        <span style="margin-right: 5px;">Delete</span>
                    </div>
                </div>
                <br class="clear" />
            </div>
        </div>
        <br class="clear" />

    </div>
    <!-- Modal -->
    <div ng-show="showScheduleModal" class="modalcontainer ng-hide">
        <div class="modalbg" ng-click="hideScheduleModal()"></div>
        <!--Customer Modal Content-->
        <div id="Schedulemodalcontent">
            <div>
                <div style="float: left;">
                    <img src="../../Images/schedule.png" alt="schedule" />
                </div>
                <div style="float: left; font-weight: bold; color: #841d23; margin-top: 5px; margin-left: 5px;">{{scheduleAddOrEditMessage}}</div>
                <div ng-click="hideScheduleModal()" style="cursor: pointer; background-color: #a36064; height: 30px; width: 30px; float: right">
                    <div style="color: white; font-weight: bold; font-size: 20px; margin-top: 2px; margin-left: 8px;">X</div>
                </div>
            </div>
            <div style="height: 40px;"></div>
            <div style="color: #d2691e" ng-show="showEmployeeAddingError">{{scheduleAddingErrorMessage}}</div>
            <div style="height: 10px;"></div>
            <div style="background-color: #f3eeee; height: 595px; padding: 10px;">
                <div>
                    <div>
                        <div style="font-weight: bold">Step 1 Select Customer</div>
                        <div style="height: 5px;"></div>
                        <select class="selectWidth" ng-change="currentCustomerSelected()" ng-model="selectedCustomer" ng-options="companycustomer as companycustomer.name for companycustomer in companyCustomers">
                            <option value="">Select customer</option>
                        </select>
                    </div>
                    <div style="height: 20px"></div>
                    <div ng-show="showObjectSelection">
                        <div style="font-weight: bold">Step 2 Select Object</div>
                        <div style="height: 5px;"></div>
                        <select class="selectWidth" ng-change="currentCustomerObjectSelected()" ng-model="selectedObject" ng-options="customerObject as customerObject.name for customerObject in customerObjects">
                            <option value="">Select Object</option>
                        </select>
                        <div style="height: 15px;"></div>
                        <div ng-show="showChoicesRadioBox" data-ng-repeat="choice in radioBox.choices">
                             <input type="radio" ng-change="radioBoxSelected()" name="response" value="{{choice.id}}" ng-model="radioBox.userChoice"/>
                            {{choice.text}}
                        </div>
                    </div>
                    <div style="height: 20px"></div>
                    <div ng-show="showObjectNeeds">
                        <div style="font-weight: bold">Step 3 Select Object Need</div>
                        <div style="height: 5px;"></div>
                        <select class="selectWidth" ng-change="currentCustomerObjectNeedSelected()" ng-model="selectedObjectNeed" ng-options="customerObjectNeed as customerObjectNeed.startDateTimeCombined for customerObjectNeed in customerObjectNeeds">
                            <option value="">Select Object Need</option>
                        </select>
                    </div>
                    <div ng-show="showDateSelection">
                        <div style="font-weight: bold">Step 3 Select Date and Time</div>
                        <div style="height: 10px;"></div>
                        <div id="startdateandtime">
                            <div style="float: left;">
                                <div style="font-weight: bold; font-size: 12px;">Start Date</div>
                                <div style="height: 5px;"></div>
                                <div style="width: 250px;">
                                    <p class="input-group">
                                        <input type="text" class="form-control" readonly ng-click="startOpen($event)" datepicker-popup="{{format}}" ng-model="startDatePicker" is-open="starTimeOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div style="width: 150px; float: left; margin-left: 30px;">
                                <div style="font-weight: bold; font-size: 12px;">Start Time</div>
                                <div style="position: relative; top: -28px;">
                                    <timepicker ng-model="startTime" hour-step="hourStep" minute-step="minuteStep" show-meridian="ismeridian"></timepicker>
                                </div>
                            </div>
                        </div>
                        <div id="enddateandtime" style="position: relative; top: -40px">
                            <div style="float: left;">
                                <div style="font-weight: bold; font-size: 12px;">End Date</div>
                                <div style="height: 5px;"></div>
                                <div style="width: 250px;">
                                    <p class="input-group">
                                        <input type="text" class="form-control" readonly ng-click="endOpen($event)" datepicker-popup="{{format}}" ng-model="endDatePicker" is-open="endTimeOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="endOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div style="width: 150px; float: left; margin-left: 30px;">
                                <div style="font-weight: bold; font-size: 12px;">End Time</div>
                                <div style="position: relative; top: -28px;">
                                    <timepicker ng-model="endTime" hour-step="hourStep" minute-step="minuteStep" show-meridian="ismeridian"></timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: {{space}}"></div>
                    <div ng-show="showAddEmployee">
                        <div style="position: relative; left: {{position}}">
                            <div style="font-weight: bold">Step 4 Add Employee</div>
                            <div style="height: 10px;"></div>
                            <div>
                                <select class="selectWidth" ng-change="employeeSelected()" ng-model="selectedEmployee" ng-options="employee as employee.Firstname+' '+employee.Lastname for employee in companyEmployees">
                                    <option value="">Select Employee</option>
                                </select>
                            </div>
                        </div>
                        <div style="height: 20px;"></div>
                        <div style="border-bottom: 1px solid #841d23"></div>
                        <div style="height: 10px;"></div>
                        <div ng-show="showObjectNeeds">
                            <div style="font-weight: bold">Schedule</div>
                            <div style="height: 5px;"></div>
                            <div>
                                <div style="float: left">People Needed:</div>
                                <div style="float: left; margin-left: 10px;">{{selectedObjectNeed.numberOfPersonalNeeded}}</div>
                            </div>
                            <br />
                            <div>
                                <div style="float: left">Start Date and Time:</div>
                                <div style="float: left; margin-left: 10px;">{{selectedObjectNeed.startDateTimeCombined}}</div>
                            </div>
                            <br />
                            <div>
                                <div style="float: left">End Date and Time:</div>
                                <div style="float: left; margin-left: 10px;">{{selectedObjectNeed.endDateTimeCombined}}</div>
                            </div>
                        </div>
                        <div style="height: {{space2}}"></div>
                        <div ng-show="showEmployees">
                            <div style="font-weight: bold">Employees</div>
                            <div style="height: 5px;"></div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fistname</th>
                                        <th>Lastname</th>
                                        <th>Job Description</th>
                                        <th>Personal Number</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="employee in employeeList">
                                        <td>{{employee.Firstname}}</td>
                                        <td>{{employee.Lastname}}</td>
                                        <td>{{employee.JobDescription}}</td>
                                        <td>{{employee.PersonalNumber}}</td>
                                        <td ng-click="deleteEmployee($index)" style="cursor: pointer;">
                                            <img src="../../Images/delete.png" alt="delete" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div style="float: right">
                <div ng-click="hideScheduleModal()" style="float: left; background-color: #a36064; border: 1px solid #841d23; height: 30px; padding: 5px; width: 112px; color: white; font-weight: bold; cursor: pointer; text-align: center">Cancel</div>
                <div ng-click="saveSchedule()" style="float: left; margin-left: 5px; background-color: #a36064; border: 1px solid #841d23; height: 30px; padding: 5px; width: 112px; color: white; font-weight: bold; cursor: pointer; text-align: center">Save</div>
            </div>
        </div>
    </div>
</div>


