@section scripts{

    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/Angular-Services/Services.js")
    @Scripts.Render("~/Scripts/Angular-App/OverOutApp.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/RegisterCtrl.js")
}

<div id="ResgisterContainer" ng-controller="RegisterCtrl">
    <button ng-click="Register()">Save</button>
</div>
